
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet"> 
</head>
<body>

<div class="container">
    <div class="wrapper">
        <img src="../../assets/saeGroupe.png" alt="Logo de Smart" class="logo">
        <div class="title-text">
            <div class="title login" >SmartGo</div>
          
        </div>
        <div class="form-container">
     

        <p class="title2">Change your password to login on your account: </p>
        <div class="form-inner" >
        <form (ngSubmit)="onSubmit()">
            <div class="field">
                <input type="password" placeholder=" New password" required>
            </div>
            <div class="field">
                <input type="password" placeholder="Confirm password" required>
            </div>
            <div class="field">
                <input type="submit" value="Confirm" class="btn">
            </div>
            <div class="field">
                <a href="#" class="link">Login now   </a>
                
            </div>
         
        </form>
    </div>
        </div>
    </div>
</div>

</body>
</html>