<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation le Mot de Passe</title>
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <img src="../../assets/saeGroupe.png" alt="Logo de Smart" class="logo">
            <div class="title-text">
                <div class="title login">SmartGo</div>
                <div class="title signup">SmartGo</div>
            </div>
            <div class="form-container">
                <div class="slide-controls">
                    <input type="radio" name="slide" id="signup" checked>
                    <div class="slider-tab"></div>
                    <label for="signup" class="slide signup">Forgot</label>
                </div>
                <div class="form-inner">
                    <!-- Formulaire d'Email -->
                    <form (ngSubmit)="onSubmit()" class="signup" *ngIf="!isShowChangePassword && !isCodeSent">
                        <div class="field">
                            <input
                                type="text"
                                [(ngModel)]="email"
                                name="email"
                                placeholder="Email Address"
                                required
                            />
                        </div>
                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <input type="submit" value="Change">
                        </div>
                    </form>
<!-- Conteneur pour le message -->
<div *ngIf="message" class="message-box">
    <p>{{ message }}</p>
</div>

<!-- Autres éléments de votre template -->

<!-- Popup Modal -->
<div *ngIf="message" class="modal" id="messageModal">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <p>{{ message }}</p>
    </div>
</div>

<!-- Notification d'Email -->
<div *ngIf="isCodeSent && !isShowChangePassword" class="popup">
    <span class="close" (click)="refreshPage()">&times;</span>
    <h2>Vérifiez votre Email</h2>
    <p>Un code a été envoyé à votre  email.</p>

</div>


                </div>
            </div>
        </div>
    </div>
</body>

</html>