
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet"> 
</head>
<body>

<div class="container">
    <div class="wrapper">
        <img src="../../assets/saeGroupe.png" alt="Logo de Smart" class="logo">
        <div class="title-text">
            <div class="title login" >SmartGo</div>
          
        </div>
        <div class="form-container">
       <div class="title2" >Forgot your password ?</div>

        <p class="title1">Enter your email to send you a password reset link</p>
        <div class="form-inner" >
        <form (ngSubmit)="onSubmit()">
            <div class="field">
                <div class="field">
                    <input
                        type="text"
                        [(ngModel)]="email"
                        name="email"
                        placeholder="Email Address"
                        required
                        class="email-input"  
                    />
                </div>
            </div>
            <div class="field">
                <input type="submit" value="Send Email" class="btn">
            </div>
        </form>
    </div>
        </div>
    </div>
</div>

</body>
</html>