@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Assurez-vous que la hauteur est 100vh pour couvrir l'écran entier */
    background: url('../../assets/IOT.jpg'); /* Chemin vers votre image de fond */
    background-size: cover; /* Ajuste l'image pour couvrir tout l'élément */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite que l'image se répète */
    padding-right: 15%; /* Ajoutez votre padding ici */
}


.wrapper {
    overflow: hidden;
    max-width: 390px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    padding-bottom: 10%;
  }
  
  .wrapper .title-text {
    display: flex;
    width: 200%;
  }
  

 .field {
    height: 50px;
    width: 100%;
    margin-top: 8px;
  }
  
  .wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }


 .pass-link {
    margin-top: 5px;
  }
  
.signup-link {
    text-align: center;
    margin-top: 30px;
  }
  
.pass-link a,
  .signup-link a {
    color: #e4e5ea;
    text-decoration: none;
  }
  
  .logo {
    width: 80px;
    height: auto;
    padding-bottom: 1%;
  }
  

.field {
    margin-bottom: 15px;
      border-radius: 15px;
  border: 1px solid rgb(223, 196, 64);
  border-bottom-width: 2px;
}

.field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
.current-password {
    border-radius: 10px; /* Modifiez la valeur selon votre besoin */
}

.field input {
    width: 100%;
    padding: 10px;
    border: 2px solid #007bff; /* Bordure bleue de 2 pixels */
    font-size: 16px;
    transition: border-color 0.3s; /* Transition pour le changement de couleur */
}


/* Optionnel : ajout d'un peu d'espace entre les champs */
.field {
    margin-bottom: 15px; /* Ajoute de l'espace entre chaque champ */
}

.field input:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    position: relative;
}


.form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
  }

  
.form-container .form-inner {
    display: flex;
    width: 200%;
  }
  
  .form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
.btn input {
    background: none;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
}

.btn:hover .btn-layer {
    transform: scale(1.1);
}

.btn input:hover {
    color: #fff;
}