
   
<div class="container">
   
    <div class="wrapper">
        
        <img src="../../assets/saeGroupe.png" alt="Logo de Smart" class="logo">
        <div class="title-text">
      
            
            <div class="title">SmartGo</div>
            
        </div>
        <div class="form-container">
            <form action="#" class="change-password">
                <div class="field">
                    <input type="password" placeholder="Current Password" required>
                </div>
                <div class="field">
                    <input type="password" placeholder="New Password" required>
                </div>
                <div class="field">
                    <input type="password" placeholder="Confirm New Password" required>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Change Password">
                </div>
            </form>
        </div>
    </div>
</div>